<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <link rel="apple-touch-icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-title" content="File Server"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <title>File Server</title>
</head>
<body>
    <h1>Available Files</h1>
    <table style="border: 0; text-align: left;">
        <tbody>
            {% for file in files %}
                {% if session['authenticated'] == 'admin' or file in tokens_for_files %}
                    <tr>
                        <th>
                            <li></li>
                        </th>
                        <th>
                            {% if file in tokens_for_files %}
                                <a href="/token/remove/{{ tokens_for_files[file] }}"><input type="submit" value="Deactivate Link" style="width: 105px; color: red;"></a>
                            {% elif session['authenticated'] == 'admin' %}
                                <a href="/token/generate/{{ file }}"><input type="submit" value="Activate Link" style="width: 105px;"></a>
                            {% endif %}
                        </th>
                        <th>
                            {% if file in tokens_for_files %}
                                <a href="/download/{{ tokens_for_files[file] }}">{{ file }}</a>
                            {% elif session['authenticated'] == 'admin' %}
                                {{ file }}
                            {% endif %}
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h2>Upload File</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit" value="Upload">
    </form>
    {% if session['authenticated'] == 'admin' %}
        <h2>Token Access</h2>
        {% if token %}
            <h3>Active Token: <span style="color: green;">{{ token }}</span></h3>
            <a href="/token/remove/{{ token }}"><input type="submit" value="Deactivate Token"></a>
        {% else %}
            <a href="/token/generate"><input type="submit" value="Activate Token"></a>
        {% endif %}
    {% endif %}
    <p><a href="/logout">Logout</a></p>
</body>
</html>
